
<div class="envios">
  <span>ENVIOS A TODO COLOMBIA</span>
</div>
<header>
    <nav>
      <ul>
        <li>INICIO</li>
        <li class="catalogo-option" (click)="toggleShowCatalogo()">
          <span>CATALOGO
            <i class="material-icons">expand_more</i>
          </span>

          <ul *ngIf="showCatalogo" class="catalogo-nav">
            <li>Aretes </li>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
          </ul>
        </li>

        <li class="descuentos">DESCUENTOS</li>
      </ul>
    </nav>

    <img src="../../../assets/ANGULAR.png" alt="angular" class="imagen">

    <div class="icons">
      <i class="material-icons">search</i>
      <i class="material-icons">person</i>
      <i class="material-icons">shopping_cart</i>

      <!-- <img src="../../../assets/buscador.png" alt="buscador" class="icons-section"> -->
      <!-- <img src="../../../assets/usuario.png" alt="usuario" class="icons-section"> -->
      <!-- <img src="../../../assets/carrito.png" alt="carrito" class="icons-section"> -->

    </div>
</header>

<app-footer></app-footer>
