<header>
    <div>
      <h6>ENVIOS A TODO COLOMBIA</h6>
    </div>

    <nav>
      <ul class="opciones">
        <li>INICIO</li>
        <li (click)="toggleShowCatalogo()">CATALOGO
          <ul *ngIf="showCatalogo">
            <li>Aretes y Candongas</li>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
          </ul>
        </li>
        <li class="descuentos">DESCUENTOS</li>
      </ul>
      <img src="../../../assets/ANGULAR.png" alt="angular" class="angular">
      <div class="modal-search">
        <input type="text" placeholder="busca algo">
      </div>
    </nav>

</header>
